creating database

In [1]:
import sqlite3
con = sqlite3.connect("customer.db")
cur = con.cursor()
cur.execute("CREATE TABLE customer(first_name text, last_name text, email text)")
con.commit()
con.close()

inserting a row into database

In [2]:
import sqlite3
con = sqlite3.connect("customer.db")
cur = con.cursor()
# cur.execute("DELETE FROM customer")
cur.execute("INSERT INTO customer VALUES ('Tim', 'Smith', 'tim@code.com')")
cur.execute("INSERT INTO customer VALUES ('Mary', 'Brown', 'mary@code.com')")
# cur.execute("insert into customer values (?, ?, ?)", 
#             ['Mary', 'Brown', 'mary@code.com'])
con.commit()
con.close()

inserting multiple records

In [3]:
import sqlite3
con = sqlite3.connect("customer.db")
cur = con.cursor()
customers = [('wes', 'brown', 'wes@code.com'),
            ('raju', 'k', 'raju@code.com'),
            ('ravi', 'k', 'ravi@code.com')]
cur.executemany("INSERT INTO customer VALUES (?, ?, ?)", customers)
con.commit()
con.close()

query customer data from table

In [4]:
import sqlite3
con = sqlite3.connect("customer.db")
cur = con.cursor()
cur.execute("SELECT * FROM customer")
print("Using fetchone() - ", cur.fetchone(), sep="\n")
print("Using fetchmany() - ", cur.fetchmany(2), sep="\n")
print("Using fetchall() - ", cur.fetchall(), sep="\n")
con.commit()
con.close()

Using fetchone() -
('Tim', 'Smith', 'tim@code.com')
Using fetchmany() -
[('Mary', 'Brown', 'mary@code.com'), ('wes', 'brown', 'wes@code.com')]
Using fetchall() -
[('raju', 'k', 'raju@code.com'), ('ravi', 'k', 'ravi@code.com')]

see the above result, once the data is fetched the pointer movies ahead and then the operation is done from that point, fetchmany fetched from 2nd row and fetchall fetched from 4th row

#### different way to use fetchall()

In [5]:
import sqlite3
con = sqlite3.connect("customer.db")
cur = con.cursor()
cur.execute("SELECT * FROM customer")
items = cur.fetchall()
print(items)
con.commit()
con.close()

[('Tim', 'Smith', 'tim@code.com'), ('Mary', 'Brown', 'mary@code.com'), ('wes', 'brown', 'wes@code.com'), ('raju', 'k', 'raju@code.com'), ('ravi', 'k', 'ravi@code.com')]

### query customer table and print employee first_name's

In [6]:
import sqlite3
con = sqlite3.connect("customer.db")
cur = con.cursor()
cur.execute("SELECT * FROM customer")
items = cur.fetchall()

for item in items:
    print(item[0])

con.commit()
con.close()

Tim
Mary
wes
raju
ravi

#### query customer table and print employee first_name, lastname and email id

In [7]:
import sqlite3
con = sqlite3.connect("customer.db")
cur = con.cursor()
cur.execute("SELECT * FROM customer")
items = cur.fetchall()

for item in items:
#     print(item[0] + " " + item[1] + " " + item[2])
#     print(item[0], item[1], item[2]) # sep by space
    print(*item)

con.commit()
con.close()

Tim Smith tim@code.com
Mary Brown mary@code.com
wes brown wes@code.com
raju k raju@code.com
ravi k ravi@code.com

#### format the result

In [8]:
import sqlite3
con = sqlite3.connect("customer.db")
cur = con.cursor()
cur.execute("SELECT * FROM customer")
items = cur.fetchall()

max_width = 20
print("NAME".ljust(max_width), "EMAIL")
print("----------".ljust(max_width + 1) * 2) # +1 for space
for item in items:
    print((item[0] + " " + item[1]).ljust(max_width), item[2])

con.commit()
con.close()

NAME                 EMAIL
----------           ----------
Tim Smith            tim@code.com
Mary Brown           mary@code.com
wes brown            wes@code.com
raju k               raju@code.com
ravi k               ravi@code.com

#### print the rowid (primary key) ROWID STARTS FROM 1

In [9]:
import sqlite3
con = sqlite3.connect("customer.db")
cur = con.cursor()

cur.execute("SELECT rowid, * FROM customer")
items = cur.fetchall()

for item in items:
    print(item)

con.commit()
con.close()

(1, 'Tim', 'Smith', 'tim@code.com')
(2, 'Mary', 'Brown', 'mary@code.com')
(3, 'wes', 'brown', 'wes@code.com')
(4, 'raju', 'k', 'raju@code.com')
(5, 'ravi', 'k', 'ravi@code.com')

### where clause
### print the rows where last_name = 'k' usnig where clause

In [10]:
import sqlite3
con = sqlite3.connect("customer.db")
cur = con.cursor()

cur.execute("SELECT rowid, * FROM customer WHERE last_name='k'")
items = cur.fetchall()

for item in items:
    print(item)

con.commit()
con.close()

(4, 'raju', 'k', 'raju@code.com')
(5, 'ravi', 'k', 'ravi@code.com')

### print the rows where last_name like 'br%' usnig where clause

In [11]:
import sqlite3
con = sqlite3.connect("customer.db")
cur = con.cursor()

# % for zero - multiple, _ for one single char
cur.execute("SELECT rowid, * FROM customer WHERE last_name LIKE 'br%'")
items = cur.fetchall()

for item in items:
    print(item)

con.commit()
con.close()

(2, 'Mary', 'Brown', 'mary@code.com')
(3, 'wes', 'brown', 'wes@code.com')

### update rows
### update customer table with firstname as 'Bob' where lastname is 'Smith'

In [12]:
import sqlite3
con = sqlite3.connect("customer.db")
cur = con.cursor()

cur.execute("UPDATE customer SET first_name='Bob' WHERE last_name='Smith'")

cur.execute("SELECT rowid, * FROM customer")
items = cur.fetchall()

for item in items:
    print(item)

con.commit()
con.close()

(1, 'Bob', 'Smith', 'tim@code.com')
(2, 'Mary', 'Brown', 'mary@code.com')
(3, 'wes', 'brown', 'wes@code.com')
(4, 'raju', 'k', 'raju@code.com')
(5, 'ravi', 'k', 'ravi@code.com')

### update customer table with firstname as 'Tim' where rowid is 1

In [13]:
import sqlite3
con = sqlite3.connect("customer.db")
cur = con.cursor()

cur.execute("UPDATE customer SET first_name='Tim' WHERE rowid=1")

cur.execute("SELECT rowid, * FROM customer")
items = cur.fetchall()

for item in items:
    print(item)

con.commit()
con.close()

(1, 'Tim', 'Smith', 'tim@code.com')
(2, 'Mary', 'Brown', 'mary@code.com')
(3, 'wes', 'brown', 'wes@code.com')
(4, 'raju', 'k', 'raju@code.com')
(5, 'ravi', 'k', 'ravi@code.com')

### Delete instance where rowid is 5 and print the remaining rows

In [14]:
import sqlite3
con = sqlite3.connect("customer.db")
cur = con.cursor()

cur.execute("DELETE FROM customer WHERE rowid=5")

cur.execute("SELECT rowid, * FROM customer")
items = cur.fetchall()

for item in items:
    print(item)

con.commit()
con.close()

(1, 'Tim', 'Smith', 'tim@code.com')
(2, 'Mary', 'Brown', 'mary@code.com')
(3, 'wes', 'brown', 'wes@code.com')
(4, 'raju', 'k', 'raju@code.com')

### ORDER BY

In [17]:
import sqlite3
con = sqlite3.connect("customer.db")
cur = con.cursor()

# when doing order by rowid, do select rowid, *, so that u can see the change
# happening
cur.execute("SELECT rowid, * FROM customer ORDER BY rowid DESC")
items = cur.fetchall()

for item in items:
    print(item)

con.commit()
con.close()

(4, 'raju', 'k', 'raju@code.com')
(3, 'wes', 'brown', 'wes@code.com')
(2, 'Mary', 'Brown', 'mary@code.com')
(1, 'Tim', 'Smith', 'tim@code.com')

### ORDER BY with LIMIT condition

In [16]:
import sqlite3
con = sqlite3.connect("customer.db")
cur = con.cursor()

cur.execute("SELECT rowid, * FROM customer ORDER BY rowid DESC LIMIT 2")
items = cur.fetchall()

for item in items:
    print(item)

con.commit()
con.close()

(4, 'raju', 'k', 'raju@code.com')
(3, 'wes', 'brown', 'wes@code.com')