# Unit 1 - files

read(n)

In [3]:
f = open("data.txt", 'r')

s1 = f.read(10)
s2 = f.read(5)
s3 = f.read()

print(s1, s2, s3, sep="\n\n")

f.close()

india is m

y cou

ntry and all indians are my brothers and sisters. I love my country and i am proud of its rich and vary heritage.
I shall always strive to be worthy of it.
I shall give respect.

In [5]:
f = open("data.txt", 'r')

s1 = f.read()
s2 = f.read(10)
s3 = f.read(5)

print(s1, s2, s3, sep="\n -next- \n")

f.close()

india is my country and all indians are my brothers and sisters. I love my country and i am proud of its rich and vary heritage.
I shall always strive to be worthy of it.
I shall give respect.

 -next-

 -next-

readline(n)

In [6]:
f = open("data.txt", 'r')

l1 = f.readline()
l2 = f.readline()
l3 = f.readline(10)

print(l1, l2, l3, sep='\n')

f.close()

india is my country and all indians are my brothers and sisters. I love my country and i am proud of its rich and vary heritage.

I shall always strive to be worthy of it.

I shall gi

#### read line by line using readline

In [8]:
f = open("data.txt", "r")

s = f.readline()
while s:
    print(s) # print(s, end="") for lines without space in between them
    s = f.readline()

f.close()

india is my country and all indians are my brothers and sisters. I love my country and i am proud of its rich and vary heritage.

I shall always strive to be worthy of it.

I shall give respect.

#### read line by line using for loop

In [9]:
f = open("data.txt", 'r')

for line in f:
    print(line)
    
f.close()

india is my country and all indians are my brothers and sisters. I love my country and i am proud of its rich and vary heritage.

I shall always strive to be worthy of it.

I shall give respect.

#### size without using EOL or blank lines

In [11]:
f = open("data.txt", 'r')

s, ts = 0, 0
line = f.readline()
while line:
    ts += len(line)
    s += len(line.strip())
    line = f.readline() # ****************************

print(s, ts)
f.close()

190 193

### readlines()

In [13]:
f = open("data.txt", 'r')

lines = f.readlines()
print(lines, lines[0], lines[-1], sep='\n')

f.close()

['india is my country and all indians are my brothers and sisters. I love my country and i am proud of its rich and vary heritage.\n', 'I shall always strive to be worthy of it.\n', 'I shall give respect.\n']
india is my country and all indians are my brothers and sisters. I love my country and i am proud of its rich and vary heritage.

I shall give respect.

#### size of file in bytes

In [15]:
f = open("data.txt", 'r')

print(len(f.read()))

f.close()

193

#### no. of lines in files

In [16]:
f = open("data.txt", 'r')

print(len(f.readlines()))

f.close()

3

#### write to files

In [21]:
f = open("student.txt", 'w')

name = "deven"
f.write(name)
f.write('\n')
f.write(name)
f.write('\n')

f.close()

f = open("student.txt", 'r')
print(f.read())
f.close()

deven
deven

append to files

In [22]:
f = open("student.txt", 'a')

name = "arpita"
f.write(name)
f.write('\n')
f.write(name)
f.write('\n')

f.close()

f = open("student.txt", 'r')
print(f.read())
f.close()

deven
deven
arpita
arpita

#### writelines

In [23]:
f = open("student.txt", 'w')

names = ["deven\n", "arpita\n", "abc\n"] # \n is important
f.writelines(names)

f.close()

f = open("student.txt", 'r')
print(f.read())
f.close()

deven
arpita
abc

#### seek( offset, whence=0 ) for text files

In [25]:
f = open("data.txt", "r")

f.seek(10) # whence = 0, starting, only possible to move from beg
print(f.tell(), f.readline())

# these two also possible, stay in current pos, and move to end

f.seek(0, 1)

f.seek(0, 2)

f.close()

10 y country and all indians are my brothers and sisters. I love my country and i am proud of its rich and vary heritage.

#### seek( offset, whence=0 ) for binary files

In [26]:
f = open("data.txt", "rb")

f.seek(15)
print(f.tell(), f.readline())

f.seek(10, 1)
print(f.tell(), f.readline())

f.seek(-15, 2)
print(f.tell(), f.readline())

f.close()

15 b'ntry and all indians are my brothers and sisters. I love my country and i am proud of its rich and vary heritage.\r\n'
140 b'ways strive to be worthy of it.\r\n'
181 b'give respect.\r\n'

### serialization

#### serialization with byte_object b""

In [27]:
import pickle

abc = {1: 'a', 2: 'b', 3: 'c'}
abc_serial = pickle.dumps(abc)

q = pickle.loads(abc_serial)
print(q)

{1: 'a', 2: 'b', 3: 'c'}

#### serialization with files

In [29]:
import pickle

abc = {1: 'a', 2: 'b', 3: 'c'}

with open("data2.pickle", "wb") as f:
    pickle.dump(abc, f, pickle.HIGHEST_PROTOCOL)
    
with open("data2.pickle", "rb") as f:
    q = pickle.load(f)
print(q)

{1: 'a', 2: 'b', 3: 'c'}

#### serialization of a custom class

In [32]:
import pickle

class example_class:
    
    def __init__(self):
        self.n = 35
        self.s = "abc"
        self.l = [1, 2, 3]
        self.d = {'a': 1, 'b': 2}
        self.t = (3, 9)
        
obj = example_class()
obj_s = pickle.dumps(obj)

with open("data2.pickle", "wb") as f:
    pickle.dump(obj, f, pickle.HIGHEST_PROTOCOL)

obj.d = None
print(obj, obj.d)

obj2 = pickle.loads(obj_s)
print(obj2, obj2.d)
    
with open("data2.pickle", "rb") as f:
    q = pickle.load(f)
    
print(q, q.d)

<__main__.example_class object at 0x000001C5805C25E0> None
<__main__.example_class object at 0x000001C5805DF250> {'a': 1, 'b': 2}
<__main__.example_class object at 0x000001C5805C2D60> {'a': 1, 'b': 2}

#### seek serialization assignment

In [38]:
f = open("data.txt", "rb")

print(f.read(), end="\n\n\n")

f.seek(-5, 2)
print(f.read()) # only 5 bytes

f.seek(0, 2) # end of file ******************************
print(f.read())

f.seek(-1, 2) # last char of file ******************************
print(f.read())

f.seek(10, 0) # consuming 10 bytes from beg, so at 11th loc
# but if they ask 10th loc from begining do this
print(f.read())

f.close()

b'india is my country and all indians are my brothers and sisters. I love my country and i am proud of its rich and vary heritage.\r\nI shall always strive to be worthy of it.\r\nI shall give respect.\r\n'


b'ct.\r\n'
b''
b'\n'
b'y country and all indians are my brothers and sisters. I love my country and i am proud of its rich and vary heritage.\r\nI shall always strive to be worthy of it.\r\nI shall give respect.\r\n'

#### 5) Implement a program to copy one python script into another by removing all the comment lines from the source file to destination file.

In [40]:
with open("src.txt", 'r') as rf:
    with open("dest.txt", 'w') as wf:
        
        for line in rf:
            if not line.strip().startswith("#"):
                wf.write(line)
                
with open("src.txt", 'r') as f:
    print(f.read())
                
with open("dest.txt", 'r') as f:
    print(f.read())

# welcome to this first program
print("Tony Stark created the Arc Reactor inside a cave")
a=5
print(f'The value of a is: {a}')
# program end

print("Tony Stark created the Arc Reactor inside a cave")
a=5
print(f'The value of a is: {a}')

#### 1) Write a program to enter the following records in a binary file:
     
Item No integer
  
Item_Name string
     
Qty integer

Price float

Number of records to be
entered should be accepted from the user. Read the file to display the records
in the following format:

Item No:

Item Name :

Quantity:

Price per item:

Amount: ( to be calculated as Price * Qty)

In [49]:
class Item:
    
    def __init__(self, no, name, qty, price):
        self.no = no
        self.name = name
        self.qty = qty
        self.price = price
        self.amount = price * qty
    
    def __str__(self): # don't do this in exam do print_item() function
        return '\n'.join([
            "Item No.: " + str(self.no),
            "Item Name: " + self.name,
            "Qty: " + str(self.qty),
            "Price: " + str(self.price),
            "Amount: " + str(self.amount)
        ])
    
    def print_item(self):
        print(self.no, self.name, self.qty, self.price, self.amount)

In [51]:
n = int(input("Enter no. of records to be entered: "))
lst = []
for i in range(n):
    obj = Item(i, "d"+str(i), 10*i, 100*i) # accept these also from user, 
    # maybe write a function to accept it from user... 
    lst.append(obj)

Enter no. of records to be entered: 5

In [52]:
import pickle

with open("items.dat", "wb") as f:
    for item in lst:
        pickle.dump(item, f) # highest protocol
        
with open("items.dat", "rb") as f:
    for item in lst:
        a = pickle.load(f)
        a.print_item()

0 d0 0 0 0
1 d1 10 100 1000
2 d2 20 200 4000
3 d3 30 300 9000
4 d4 40 400 16000

## 2) Write a program to accept string/sentences from the user till the user enters “END” to. Save the data in a text file and then display only those sentences which begin with an uppercase alphabet

In [54]:
with open("sentences.txt", "w") as f:
    
    sentence = input("Enter sentence: ")
    while sentence != "END":
        f.write(sentence + "\n") # \n VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVvvvimp
        sentence = input("Enter sentence: ")
    
with open("sentences.txt", "r") as f:
    print("Output: ")
    for sentence in f:
        if sentence[0].isupper():
            print(sentence, end="") # end="" coz the sentence already has \n

Enter sentence: Ab
Enter sentence: END
Output:
Ab

#### 3) Write the file mode that will be used for opening the following files. Also, write the Python statements to open the following files:
a text file “example.txt” in both read and write mode

In [55]:
f = open("sentences.txt", "w+")
print("no error")
# w+ read and write both and create file if not exist
f.close()

no error

In [59]:
f = open("data.txt", 'r')

d = {}
for char in f.read():
    if char in d:
        d[char] += 1
    else:
        d[char] = 0
        
print(d)
        
f.close()

{'i': 12, 'n': 8, 'd': 6, 'a': 14, ' ': 35, 's': 11, 'm': 3, 'y': 7, 'c': 3, 'o': 8, 'u': 2, 't': 10, 'r': 12, 'l': 7, 'e': 10, 'b': 1, 'h': 5, '.': 3, 'I': 2, 'v': 3, 'p': 1, 'f': 1, 'g': 1, '\n': 2, 'w': 1}

### 5) Implement a python program to validate a mobile number. The number should start with 7, 8 or 9 followed by 9 digits.

In [60]:
import re

n = input("Enter 10 digit mobile number: ")
if re.match(r'[789]\d{9}', n):
    print("Number is correct")
else:
    print("Number is not correct")

Enter 10 digit mobile number: 7123456890
Number is correct

### exam papers

In [68]:
# 1) a)
tf = open("c.txt", "w+") # 1 w+
tf.write("Line 1\n")
tf.write("This is line 2\n")
tf.write("That makes this line 3\n") # 2 ""
lines = ["L1\n", "L2\n", "L3\n"] # 3 \n 4 ; 
tf.writelines(lines)
# a = tf.read()
# print(a)  # only these two lines won't work
tf.seek(0, 0) # 5 missing *****************************************
a = tf.read()
print(a)
tf.close()

Line 1
This is line 2
That makes this line 3
L1
L2
L3

In [69]:
# 2) comming program top

In [73]:
# 3) obj serial top

### Write a python program to reverse the content of a file and store it in another file

In [74]:
# 1) a)
with open("data.txt", 'r') as rf:
    with open("writefile.txt", 'w') as wf:
        data = rf.read()
        data = data[::-1]
        wf.write(data)

In [75]:
# 1) b) easy, show for dict obj and an list obj using files

# Unit 2

In [1]:
import sqlite3

con = sqlite3.connect("customer.db")
cur = con.cursor()

cur.execute("""
    create table customer(
    first_name text,
    last_name text,
    email text)
""")

con.commit()
con.close()

In [19]:
import sqlite3

con = sqlite3.connect("customer.db")
cur = con.cursor()

# cur.execute("delete from customer")
# # IMPORTANT, MAKE SURE TO USE ' ' INSIDE " "
# cur.execute("insert into customer values ('Tim', 'Smith', 'tim@code.com')")
# cur.execute("insert into customer values (?, ?, ?)", 
#             ['Mary', 'Brown', 'mary@code.com'])

# customers = [
#     ('wes', 'brown', 'wes@code.com'),
#     ('raju', 'k', 'raju@code.com'),
#     ('ravi', 'k', 'ravi@code.com')
# ]
# cur.executemany("insert into customer values (?, ?, ?)", customers)

# cur.execute("select * from customer")
# print(cur.fetchone())
# print(cur.fetchmany(2))
# print(cur.fetchall())

# cur.execute("select rowid, * from customer")
# print(cur.fetchall())

# # MAKE SURE TO USE ' '  INSIDE " "
# cur.execute("select rowid, * from customer where last_name='k'")
# print(cur.fetchall())

# # % for zero - multiple, _ for one single char
# cur.execute("select rowid, * from customer where last_name LIKE 'br%'")
# print(cur.fetchall())

# cur.execute("update customer set first_name='Bob' WHERE last_name='Smith'")

# cur.execute("update customer set first_name='Tim' where rowid=1")

# cur.execute("delete from customer where rowid=5")

# # when doing order by rowid, do select rowid, *, so that u can see the change
# # happening
# cur.execute("select rowid, * from customer order by rowid desc limit 2")
# print(cur.fetchall())

cur.execute("select rowid, * from customer")
print(cur.fetchall())

con.commit()
con.close()

[(1, 'Tim', 'Smith', 'tim@code.com'), (2, 'Mary', 'Brown', 'mary@code.com'), (3, 'wes', 'brown', 'wes@code.com'), (4, 'raju', 'k', 'raju@code.com')]

### assignment questions

1) Create a python program on the scenario given below: Create an Employee table with attributes such as emp_ssn, emp_name, emp_category, gross_sal, basic_sal. Insert atleast three values in to the database. Demonstrate the database concepts for the following scenario: A company management wants to compute the net salary of each group of employee based on the category of the employee such as Category A, Category B, Category C. Compute the net salary based on the following table.

In [4]:
import sqlite3
con = sqlite3.connect("xyzcompany.db")
cur = con.cursor()

In [5]:
cur.execute("""
    create table employee(
        ssn integer primary key,
        name text, 
        category text, 
        gross_sal real,
        basic_sal real
    )
""")

In [7]:
employees = [
    (1, "Rohan", 'A', "NULL", 1000),
    (2, "Mohan", 'B', "NULL", 2000),
    (3, "Sohan", 'C', "NULL", 3000)
]
cur.executemany("insert into employee values (?, ?, ?, ?, ?)", employees)

In [8]:
cur.execute("select * from employee")
emps = cur.fetchall()

In [11]:
for emp in emps:
    ssn, name, category, gross_sal, basic_sal = emp
    if category == "A":
        da = 80 / 100 * basic_sal
        gross_sal = basic_sal + da
        tax = 30 / 100 * gross_sal
    elif category == "B":
        da = 50 / 100 * basic_sal
        gross_sal = basic_sal + da
        tax = 20 / 100 * gross_sal
    elif category == "C":
        da = 30 / 100 * basic_sal
        gross_sal = basic_sal + da
        tax = 10 / 100 * gross_sal
    net_sal = basic_sal + da - tax
    
    cur.execute("update employee set gross_sal=? where ssn=?", 
                (gross_sal, ssn))
    
    print("name:", name, "ssn:", ssn, "net sal:", net_sal)

name: Rohan ssn: 1 net sal: 1260.0
name: Mohan ssn: 2 net sal: 2400.0
name: Sohan ssn: 3 net sal: 3510.0

In [12]:
cur.execute("select * from employee")
emps = cur.fetchall()
print(emps)

[(1, 'Rohan', 'A', 1800.0, 1000.0), (2, 'Mohan', 'B', 3000.0, 2000.0), (3, 'Sohan', 'C', 3900.0, 3000.0)]

In [13]:
con.commit()
con.close()

Implement Library management where students can borrow as well as donate books. Books table:

1 id INTEGER PRIMARY KEY 2 name TEXT 3 total_count INTEGER

a) Insert values to the table

34,king,5

123,Harry Potter,3

b) Update the table based on user inputs: based on book id I) BORROW II) RETURN

In [14]:
import sqlite3
con = sqlite3.connect("library.db")
cur = con.cursor()

In [16]:
cur.execute("""
    create table books(
        id integer primary key,
        name text,
        tcount integer
    )
""")

In [17]:
books = [
    (34, "king", 5),
    (123, "Harry Potter", 3)
]
cur.executemany("insert into books values (?, ?, ?)", books)

In [18]:
cur.execute("select * from books")
books = cur.fetchall()
print(books)

[(34, 'king', 5), (123, 'Harry Potter', 3)]

In [23]:
while 1:
    print("\n\nMenu \n1. borrow \n2. return \n3. exit")
    opt = int(input("\nEnter Option: "))
    if opt == 3:
        break
    book_id = int(input("Enter the book id: "))
    if opt == 1:
        cur.execute("update books set tcount = tcount - ? where id = ?", 
                    (1, book_id))
        print(book_id, "book borrowed")
    elif opt == 2:
        cur.execute("update books set tcount = tcount + ? where id = ?", 
                    (1, book_id))
        print(book_id, "book returned")
    else:
        print("Wrong input")

Menu
1. borrow
2. return
3. exit

Enter Option: 1
Enter the book id: 34
34 book borrowed


Menu
1. borrow
2. return
3. exit

Enter Option: 1
Enter the book id: 34
34 book borrowed


Menu
1. borrow
2. return
3. exit

Enter Option: 2
Enter the book id: 123
123 book returned


Menu
1. borrow
2. return
3. exit

Enter Option: 3

In [24]:
cur.execute("select * from books")
books = cur.fetchall()
print(books)

[(34, 'king', 3), (123, 'Harry Potter', 4)]

In [25]:
con.commit()
con.close()

#### see questions

In [26]:
# 2) a) b) both top

In [29]:
# 2) a)

In [34]:
import sqlite3
con = sqlite3.connect("companySEEQ.db")
cur = con.cursor()

In [36]:
cur.execute("""
    create table company(
        id integer, 
        name text, 
        age integer,
        address text, 
        salary real
    )
""")

In [37]:
employees = [
    (1, "paul", 32, "california", 20000.0),
    (2, "allen", 25, "texas", 15000.0),
    (3, "teddy", 23, "norway", 20000.0), 
    (4, "james", 44, "norway", 5000.0),
    (5, "james", 45, "texas", 5000.0)
]

cur.executemany("insert into company values (?, ?, ?, ?, ?)", employees)

In [40]:
cur.execute("select * from company group by name having count(name) < 2")
print(cur.fetchall())

[(2, 'allen', 25, 'texas', 15000.0), (1, 'paul', 32, 'california', 20000.0), (3, 'teddy', 23, 'norway', 20000.0)]

In [41]:
cur.execute("""select name, sum(salary) from company group by name 
                order by name asc""")
print(cur.fetchall())

[('allen', 15000.0), ('james', 10000.0), ('paul', 20000.0), ('teddy', 20000.0)]