In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('gapminder.tsv', sep = '\t')
data

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [4]:
data.shape

(1704, 6)

In [6]:
data.columns # dtype object means strings

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [8]:
data.dtypes # dtype for each column

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [10]:
data.info # info about each and every column

<bound method DataFrame.info of           country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]>

In [18]:
country_df = data['country']
country_df

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [26]:
country_df.head()
country_df.head(n=1)
# country_df.head(10)
# country_df.tail()
# country_df.tail(10)

0    Afghanistan
Name: country, dtype: object

In [27]:
country_df.unique() # unique columns

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Australia', 'Austria', 'Bahrain', 'Bangladesh', 'Belgium',
       'Benin', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Ethiopia',
       'Finland', 'France', 'Gabon', 'Gambia', 'Germany', 'Ghana',
       'Greece', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Haiti',
       'Honduras', 'Hong Kong, China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kenya', 'Korea, Dem. Rep.',
       'Korea, Rep.', 'Kuwait', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Mauritania',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Reunion', 'Romania', 'Rwanda',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovak Republic', 'Slovenia',
       'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Uganda', 'United Kingdom', 'United States', 'Uruguay',
       'Venezuela', 'Vietnam', 'West Bank and Gaza', 'Yemen, Rep.',
       'Zambia', 'Zimbabwe'], dtype=object)

In [33]:
s = data[['country', 'continent', 'year']]
s

          country continent  year
0     Afghanistan      Asia  1952
1     Afghanistan      Asia  1957
2     Afghanistan      Asia  1962
3     Afghanistan      Asia  1967
4     Afghanistan      Asia  1972
...           ...       ...   ...
1699     Zimbabwe    Africa  1987
1700     Zimbabwe    Africa  1992
1701     Zimbabwe    Africa  1997
1702     Zimbabwe    Africa  2002
1703     Zimbabwe    Africa  2007

[1704 rows x 3 columns]

# **loc and iloc**

In [30]:
# loc = row name or row index
# iloc = row index

In [40]:
data.loc[0] # first row

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [41]:
data.loc[-1] # error: out of range but works for iloc

KeyError: -1

In [43]:
data.loc[99]

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap    721.186086
Name: 99, dtype: object

In [58]:
# data.iloc[0]
# data.iloc[99]
# data.iloc[1703]
data.iloc[data.shape[0]-1] # big brain time
# data.shape[0]

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

In [67]:
s = data.loc[0]
print(type(s))

<class 'pandas.core.series.Series'>

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [66]:
s1 = data.head(1)
print(type(s1))
s1

<class 'pandas.core.frame.DataFrame'>

       country continent  year  lifeExp      pop   gdpPercap
0  Afghanistan      Asia  1952   28.801  8425333  779.445314

In [73]:
s = data.loc[[0,99,999]]
s
print(type(s))

<class 'pandas.core.frame.DataFrame'>

In [75]:
# series:
# 1d
# only 1 data type

In [76]:
# dataframes:
# 2d
# combination of many series
# many data types

In [78]:
# data.ix[0] # used to be supported by pandas, but not anymore

In [81]:
subset = data.loc[:, ['year', 'pop']]
print(subset.head())

   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460

In [83]:
s = data.iloc[:, [2,4,-1]]
print(s.head())

   year       pop   gdpPercap
0  1952   8425333  779.445314
1  1957   9240934  820.853030
2  1962  10267083  853.100710
3  1967  11537966  836.197138
4  1972  13079460  739.981106

In [84]:
s = data.loc[:, [2,4,-1]]

KeyError: "None of [Int64Index([2, 4, -1], dtype='int64')] are in the [columns]"

In [85]:
s = data.iloc[:, ['year', 'pop']]

IndexError: .iloc requires numeric indexers, got ['year' 'pop']

In [86]:
# iloc needs numbers
# loc needs actual names

In [87]:
# 1
r = list(range(5))
print(r)

[0, 1, 2, 3, 4]

In [88]:
s = data.iloc[:, r]
print(s.head())

       country continent  year  lifeExp       pop
0  Afghanistan      Asia  1952   28.801   8425333
1  Afghanistan      Asia  1957   30.332   9240934
2  Afghanistan      Asia  1962   31.997  10267083
3  Afghanistan      Asia  1967   34.020  11537966
4  Afghanistan      Asia  1972   36.088  13079460

In [101]:
# 2
r = list(range(3,6))
print(r)

[3, 4, 5]

In [102]:
s = data.iloc[:, r]
print(s.head())

   lifeExp       pop   gdpPercap
0   28.801   8425333  779.445314
1   30.332   9240934  820.853030
2   31.997  10267083  853.100710
3   34.020  11537966  836.197138
4   36.088  13079460  739.981106

In [92]:
# 3
r = list(range(0,6,2))
s = data.iloc[:, r]
print(s.head())

       country  year       pop
0  Afghanistan  1952   8425333
1  Afghanistan  1957   9240934
2  Afghanistan  1962  10267083
3  Afghanistan  1967  11537966
4  Afghanistan  1972  13079460

In [103]:
# next
s = data.iloc[:, :3]
print(s.head())

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [104]:
s = data.iloc[:, 3:6]
print(s.head())

   lifeExp       pop   gdpPercap
0   28.801   8425333  779.445314
1   30.332   9240934  820.853030
2   31.997  10267083  853.100710
3   34.020  11537966  836.197138
4   36.088  13079460  739.981106

In [105]:
s = data.iloc[:, 0:6:2]
print(s.head())

       country  year       pop
0  Afghanistan  1952   8425333
1  Afghanistan  1957   9240934
2  Afghanistan  1962  10267083
3  Afghanistan  1967  11537966
4  Afghanistan  1972  13079460

In [124]:
# data.iloc[:, 0:6: ] # 6 columns
data.iloc[:, 0: :2 ] # 3 columns
# data.iloc[:, :6:2] # 3 columns
# data.iloc[:, : :2 ] # 3 columns
# data.iloc[:, : : ] # 6 columns

          country  year       pop
0     Afghanistan  1952   8425333
1     Afghanistan  1957   9240934
2     Afghanistan  1962  10267083
3     Afghanistan  1967  11537966
4     Afghanistan  1972  13079460
...           ...   ...       ...
1699     Zimbabwe  1987   9216418
1700     Zimbabwe  1992  10704340
1701     Zimbabwe  1997  11404948
1702     Zimbabwe  2002  11926563
1703     Zimbabwe  2007  12311143

[1704 rows x 3 columns]

In [130]:
#
print(data.loc[42, 'country'])
print(data.iloc[42, 0])

Angola
Angola

In [136]:
print(data.iloc[[0, 99, 999], [0, 3, 5]]) # we can even slice it

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130

In [135]:
print(data.loc[[0, 99, 999], ['country', 'lifeExp', 'gdpPercap']])

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130

# Series

In [141]:
# series
s = pd.Series(['banana', 42])
print(s)
# key value pairs just like dictionary

0    banana
1        42
dtype: object

In [142]:
s = pd.Series(['Mckinney', 'Creator of Pandas'], index = ['Person', 'Who'])
print(s)

Person             Mckinney
Who       Creator of Pandas
dtype: object

In [144]:
s = pd.Series(['Thanos... is coming', 'Cue Endgame music'], index = ['Person', 'Who?'])
print(s)

Person    Thanos... is coming
Who?        Cue Endgame music
dtype: object

In [148]:
s = pd.DataFrame({
    'Name': ['R Franklin', 'W Gosset'],
    'Occupation': ['Chemist', 'Statistician'],
    'Born': ['1920-7-25', '1876-6-13'],
    'Died': ['1958-4-16', '1937-10-16'],
    'Age': ['37', '61'], 
})
print(s)

         Name    Occupation       Born        Died Age
0  R Franklin       Chemist  1920-7-25   1958-4-16  37
1    W Gosset  Statistician  1876-6-13  1937-10-16  61