# list

#### https://docs.python.org/3/tutorial/datastructures.html
#### https://docs.python.org/3/library/stdtypes.html

In [1]:
# list() or list(iterable)
lst = [4, 5, 3, 7]
lst2 = []

In [2]:
lst[0:2] # [start, end) inclusive of start and excluding end index

[4, 5]

In [3]:
# append
lst.append(5) 
# NOT push, a[len(a):] = [x]

In [4]:
# extend
lst.extend(lst2) 
# list.extend(iterable), a[len(a):] = [x]
# lst += lst2
# lst[i:j] = lst2   # lst2 should be iterable
# lst[i:j:k] = lst2   # lst2 should be iterable

In [5]:
# insert
lst.insert(1, 2) 
# list.insert(i, x)
# lst[i:i] = [x] # equivalent # OBSERVE

In [6]:
# remove and pop
lst.remove(5) 
# lst.remove(x) throws ValueError if not found
lst.pop(0) 
# throws IndexError if out of index
# lst.pop() or lst.pop(i)
# lst.pop([i]) i-index, if not sepcified then last item is popped

4

In [7]:
# index
lst.index(3) # same as below
lst.index(3, 0) # same as below
lst.index(3, 0, len(lst)) # list.index(x, [start, [end]])
# throws ValueError if not found
# [start, end) inclusive of start and excluding end index

1

In [8]:
# list.count(x)
n = lst.count(2)

In [9]:
# sort
lst.sort(key=None, reverse=True)
# lst.sort(*, key=None, reverse=False) can apply these only with keywords
# lst.sort(key=str.lower)

In [10]:
# REVERSE
lst.reverse()
# reverse the elements of the list IN PLACE*******
# RETURNS None AS THE REVERSE IS HAPPENING IN PLACE

In [11]:
# copy
b = lst.copy() 
# shallow copy of list, a[:]
# trick - works as deep copy for immutable types int, str, tuple, frozenset
# a = [1, 2, 3]; b = a.copy(); 
# maybe like java
# b[0] = 4; it'll create a int(4) in the memory if not already present
# and then places it in 0th index, b[1] = 3, takes 3 already present in
# memeory and place that in 1st and it's already there in 2nd index also.

In [12]:
# copy
a = [[1, 2], 3]
b = a.copy() # RETURNS A SHALLOW COPY, I.E., equivalent to a[:]
b[1] = 4
print(a, b) # a - [[1, 2], 3], b - [[1, 2], 4]
b[0][1] = 5  # a - [[1, 5], 3], b - [[1, 5], 4]
print(a, b)

[[1, 2], 3] [[1, 2], 4]
[[1, 5], 3] [[1, 5], 4]

In [13]:
# copy
b = a[:]
b[1] = 6
print(a, b)
b[0][1] = 9
print(a, b)

[[1, 5], 3] [[1, 5], 6]
[[1, 9], 3] [[1, 9], 6]

In [14]:
# * operator
lst3 = [[]] * 3
lst3[0].append(2)
print("lst3", lst3)

lst3 = [[] for _ in range(3)]
lst3[0].append(2)
print("lst3", lst3)
# lst *= 3

lst3 [[2], [2], [2]]
lst3 [[2], [], []]

In [15]:
# len(list)
size = len(lst)

In [16]:
# clear
lst.clear() # del a[:]
# del a[i:j:k]
# del a[i:j]

In [17]:
# list comprehension, ways to create list
a = [x for x in range(1, 11, 2)]
b = []
c = [1]
d = [1, 2, 3]
e = list()
f = list(d) # list(iterable)
a, b, c, d, e, f

([1, 3, 5, 7, 9], [], [1], [1, 2, 3], [], [1, 2, 3])

# tuple

In [18]:
a = ()
b = 1,
c = 1, 2, 3
d = (1, 2, 3)
e = tuple()
f = tuple(d) # tuple(iterable)
a, b, c, d, e, f

((), (1,), (1, 2, 3), (1, 2, 3), (), (1, 2, 3))

# range

#### https://docs.python.org/3/library/stdtypes.html

In [19]:
r = range(0, 20, 2) 
# range(start, stop, step)

print(11 in r) # False
print(10 in r) # True

print(r.index(10)) # 5
print(r[5]) # 10

print("from 0 to 5", r[:5]) # range(0, 10, 2)
print("index -1", r[-1]) # 18

False
True
5
10
from 0 to 5 range(0, 10, 2)
index -1 18

# str

#### https://docs.python.org/3/library/stdtypes.html

# set, frozenset

#### https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset

In [20]:
s = set([1, 2, 6, 6, 2, 0, 1])
s2 = frozenset([3, 6, 9, 3])

In [21]:
size = len(s)

In [22]:
print(1 in s) # is mem
print(10 not in s) # is not mem

True
True

In [23]:
# isdisjoint(other)
print(s.isdisjoint([5, 6, 6, 2, 5, 1, 2]))
# returns True if set has no ele in common with other.

False

**"other" CAN BE AN ITERABLE HERE, NOT NECESSARILY A set()**

**BUT IF WE USE OPERATORS(<, >=, ...) THEN IT SHOULD BE A set()/frozenset()**

In [24]:
# s |= [1, 2, 3, 4, 5, 2, 5, 1] not possible

In [25]:
# issubset(other)
print(s.issubset(s2), s < s2, s <= s2)
# s < s2, Test whether the s is a proper subset of s2,i.e s <= s2 and s != s2

False False False

In [26]:
# issuperset(other)
print(s.issuperset(s2), s > s2, s >= s2)
# s > s2, Test whether the s is a proper superset of s2,
# i.e s >= s2 and s != s2

False False False

**BELOW OPERATIONS return a NEW set**

In [27]:
# union(*others)  that * is imp here
print(s.union(s2, s2, s2), s | s2 | s2)
# set | other1 | other2 | ...

{0, 1, 2, 3, 6, 9} {0, 1, 2, 3, 6, 9}

In [28]:
# intersection(*others) that * is imp here
print(s.intersection(s2, s2), s & s2 & s2 & s2)
# set & other1 & other2 & ...

{6} {6}

In [29]:
# difference(*other)  that * is imp here
print(s.difference(s2, s2), s - s2 - s2)
# set - other1 - other2 - ...

{0, 1, 2} {0, 1, 2}

In [30]:
# symmetric_difference(*other)  that * is imp here
print(s.symmetric_difference(s2), s ^ s2)
# set ^ other1 ^ other2 - ...
# Return a new set with elements in either the set or other but not both.

{0, 1, 2, 3, 9} {0, 1, 2, 3, 9}

In [31]:
b = s.copy()
# shallow copy

**update UPDATES ALREADY PRESENT SET**

In [32]:
# update(*others) that * is imp here
print(s.update(s2, s2, s2))
s |= s2 | s2 | s2
# set |= other1 | other2 | ...

None

**difference between union and update, union - returns new set, update - updates in place**

In [33]:
# intersection_update(*others) that * is imp here
print(s.intersection_update(s2, s2))
s &= s2 & s2 & s2
# set &= other1 & other2 & ...

None

In [34]:
# difference_update(*other)  that * is imp here
print(s.difference_update(s2, s2))
s -= s2 - s2
# set -= other1 - other2 - ...

None

In [35]:
# symmetric_difference_update(*other)  that * is imp here
print(s.symmetric_difference_update(s2))
s ^= s2 ^ s2 ^ s2
# set ^= other1 ^ other2 - ...
# Update the set, keeping only elements found in either set, but not in both.

None

In [36]:
# add(elem)
s.add(100)

In [37]:
# remove(elem) and discard(elem)

# remove(elem) throws KeyError if elem is not contained in the set
# discard(elem) doesn't throw KeyError

s.remove(100)
s.discard(100)

In [38]:
# pop()
s.add(5)
s.pop()
# Remove and return an arbitrary element from the set. 
# Raises KeyError if the set is empty.

5

In [39]:
# clear()
s.clear()
# remove all ele

**set CAN CONTAIN frozenset AS IT'S ELEMENTS BUT NOT set AS IT'S ELEMENTS**

In [40]:
s3 = {s2, s2}
s3

{frozenset({3, 6, 9})}

In [41]:
# set comprehension, ways to create set
a = {c for c in 'abracadabra' if c not in 'abc'}
b = {'jack', 'sjoerd'}
c = set()
d = set('foobar')
e = set(['a', 'b', 'foo'])
a, b, c, d, e

({'d', 'r'},
 {'jack', 'sjoerd'},
 set(),
 {'a', 'b', 'f', 'o', 'r'},
 {'a', 'b', 'foo'})

# dict

https://docs.python.org/3/library/stdtypes.html#mapping-types-dict

class dict(**kwargs)

class dict(mapping, **kwargs)

class dict(iterable, **kwargs)

In [42]:
# ways to create
a = {'jack': 4098, 'sjoerd': 4127}
b = {4098: 'jack', 4127: 'sjoerd'}
e = {}
d = {x: x ** 2 for x in range(10)}
e = dict()
f = dict([('foo', 100), ('bar', 200)])
g = dict(foo=100, bar=200)
a, b, c, d, e, f, g

({'jack': 4098, 'sjoerd': 4127},
 {4098: 'jack', 4127: 'sjoerd'},
 set(),
 {0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81},
 {},
 {'foo': 100, 'bar': 200},
 {'foo': 100, 'bar': 200})

In [43]:
# return keys using list
list(d)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
len(d)

10

In [45]:
d[5]
# Return the item of d with key key. Raises a KeyError if key is not in the map.

25

class Counter(dict): <br>
    def __missing__(self, key): <br>
        return 0 <br>
c = Counter() <br>
c['red'] <br>
c['red'] += 1 <br>
c['red'] <br>
1

In [46]:
d[10] = 10 ** 2

In [47]:
del d[2]

In [48]:
3 in d

True

In [49]:
2 not in d

True

In [50]:
iter(d)

**Return an iterator over the keys of the dictionary. This is a shortcut for iter(d.keys()).**

In [51]:
f.clear()
f

{}

In [52]:
h = g.copy() # Return a shallow copy of the dictionary.
h

{'foo': 100, 'bar': 200}

**classmethod fromkeys(iterable[, value])** <br>
Create a new dictionary with keys from iterable and values set to value.

fromkeys() is a class method that returns a new dictionary. **value defaults to None**. All of the values refer to just a single instance, so it generally **doesn’t make sense for value to be a mutable object** such as an empty list. To get distinct values, use a dict comprehension instead.

In [53]:
dict.fromkeys([1, 2, 7, 4, 2, 1, 1, 1], 0) # VVVV IIMMPPPP

{1: 0, 2: 0, 7: 0, 4: 0}

get(key[, default]) <br>
Return the value for key if key is in the dictionary, else default. If default is not given, it defaults to None, so that this method never raises a KeyError

In [54]:
d.get(2, 69), d.get(3) # deleted 2 earlier

(69, 9)

In [55]:
d.items()

dict_items([(0, 0), (1, 1), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)])

In [56]:
d.keys()

dict_keys([0, 1, 3, 4, 5, 6, 7, 8, 9, 10])

pop(key[, default]) <br>
If key is in the dictionary, remove it and return its value, else return default. If default is not given and key is not in the dictionary, a KeyError is raised.

In [57]:
d.pop(2, 69), d.pop(4)

(69, 16)

popitem() <br>
Remove and return a (key, value) pair from the dictionary. Pairs are returned in LIFO order. <br>
If the dictionary is empty, calling popitem() raises a KeyError.

In [58]:
d.popitem()

(10, 100)

reversed(d) <br>
Return a reverse iterator over the keys of the dictionary. This is a shortcut for reversed(d.keys()).

In [59]:
list(reversed(d))

[9, 8, 7, 6, 5, 3, 1, 0]

setdefault(key[, default]) <br>
If key is in the dictionary, return its value. **If not, insert key with a value of default and return default**. <br>
**default defaults to None.**

In [60]:
d.setdefault(2, 69)  
d

{0: 0, 1: 1, 3: 9, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 2: 69}

difference between get() and setdefault(), get() just returns the value with default if not present, setdefault() INSERTS and return the value

**update([other])** <br>
Update the dictionary with the key/value pairs from other, overwriting existing keys. Return None.

update() accepts either another dictionary object or an iterable of key/value pairs (as tuples or other iterables of length two). If keyword arguments are specified, the dictionary is then updated with those key/value pairs: d.update(red=1, blue=2).

In [61]:
d.values()

dict_values([0, 1, 9, 25, 36, 49, 64, 81, 69])

In [62]:
d.keys(), d.values(), d.items()

(dict_keys([0, 1, 3, 5, 6, 7, 8, 9, 2]),
 dict_values([0, 1, 9, 25, 36, 49, 64, 81, 69]),
 dict_items([(0, 0), (1, 1), (3, 9), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (2, 69)]))

In [63]:
d | g
# d | [("a", "b"), ("b", "c"), ("a", "c")] NOT WORKING, ONLY FOR |= POSSIBLE

{0: 0,
 1: 1,
 3: 9,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 2: 69,
 'foo': 100,
 'bar': 200}

In [64]:
# d |= g
d |= [("a", "b"), ("b", "c"), ("a", "c")] # POSSIBLE ONLY FOR |= IN DICT
d

{0: 0,
 1: 1,
 3: 9,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 2: 69,
 'a': 'c',
 'b': 'c'}

# collections

https://docs.python.org/3/library/collections.html

namedtuple() - factory function for creating tuple subclasses with named fields

deque - list-like container with fast appends and pops on either end

ChainMap - dict-like class for creating a single view of multiple mappings

Counter - dict subclass for counting hashable objects

OrderedDict - dict subclass that remembers the order entries were added

defaultdict - dict subclass that calls a factory function to supply missing values

UserDict - wrapper around dictionary objects for easier dict subclassing
UserList - wrapper around list objects for easier list subclassing
UserString - wrapper around string objects for easier string subclassing

### ChainMaps(*maps)

In [65]:
from collections import ChainMap

In [66]:
a = {1: 1, 2: 2}
b = {2: 5, 3: 3, 4: 4}
c = {1: 9, 4: 9, 7: 7}
d = ChainMap(a, b, c)

In [67]:
d.maps

[{1: 1, 2: 2}, {2: 5, 3: 3, 4: 4}, {1: 9, 4: 9, 7: 7}]

In [68]:
d[1], d[2], d[4], d[7]

(1, 2, 4, 7)

In [69]:
d[1] = 69
d

ChainMap({1: 69, 2: 2}, {2: 5, 3: 3, 4: 4}, {1: 9, 4: 9, 7: 7})

**new_child(m=None, **kwargs)** <br>
Returns a new ChainMap containing a new map followed by all of the maps in the current instance. If m is specified, it becomes the new map at the front of the list of mappings; if not specified, an empty dict is used, so that a call to d.new_child() is equivalent to: ChainMap({}, *d.maps). 

If any keyword arguments are specified, **they update passed map or new empty dict.** This method is used for creating subcontexts that can be updated without altering values in any of the parent mappings.

In [70]:
d.new_child()

ChainMap({}, {1: 69, 2: 2}, {2: 5, 3: 3, 4: 4}, {1: 9, 4: 9, 7: 7})

In [71]:
e = {10: 10, 11: 11}
f = d.new_child(e)
f

ChainMap({10: 10, 11: 11}, {1: 69, 2: 2}, {2: 5, 3: 3, 4: 4}, {1: 9, 4: 9, 7: 7})

In [72]:
# f = d.new_child(e, 1=66, 2=77, 10=99) # INTEGER CAN'T BE KEYS
# f = d.new_child(e, **{1:66, 2:77, 10:99}) # keys must be strings
# f = d.new_child(e, a=66, b=77, c=99) # wrong as there is no elements with
# a, b, c in any dicts
e = {"a": 5, 'b': 6}
f = {'a': 99, 'd': 66}
g = d.new_child(e)
# h = g.new_child(f, a=100, d=200) # unknow keyword argument
# h = g.new_child(f, **{'a':100, 'd':200}) # not working

In [73]:
e = d.new_child()
e, e.parents # ChainMap(*d.maps[1:]) equivalent

(ChainMap({}, {1: 69, 2: 2}, {2: 5, 3: 3, 4: 4}, {1: 9, 4: 9, 7: 7}),
 ChainMap({1: 69, 2: 2}, {2: 5, 3: 3, 4: 4}, {1: 9, 4: 9, 7: 7}))

**del e[1] # says key not found in the first map, for deleting, key has to be present in the first map**

# Counter

https://docs.python.org/3/library/collections.html

In [74]:
from collections import Counter

In [75]:
# Tally occurrences of words in a list
cnt = Counter()
for word in ['red', 'blue', 'red', 'green', 'blue', 'blue']:
    cnt[word] += 1
cnt

Counter({'red': 2, 'blue': 3, 'green': 1})

Find the ten most common words in Hamlet<br>
import re <br>
words = re.findall(r'\w+', open('hamlet.txt').read().lower()) <br>
Counter(words).most_common(10)

In [76]:
# ways to create Counter
a = Counter()
b = Counter("gallahad")
c = Counter({"red": 4, "blue": 2})
d = Counter(cats=4, dogs=8)
e = Counter(["eggs", "ham"]) # TAKEN AS 1 AND NOT 0, *********************
a, b, c, d, e

(Counter(),
 Counter({'g': 1, 'a': 3, 'l': 2, 'h': 1, 'd': 1}),
 Counter({'red': 4, 'blue': 2}),
 Counter({'cats': 4, 'dogs': 8}),
 Counter({'eggs': 1, 'ham': 1}))

In [77]:
c = Counter(["eggs", "ham"]) # TAKEN AS 1 AND NOT 0, *********************
c["bacon"], c # missing values are return 0, instead of KeyError

(0, Counter({'eggs': 1, 'ham': 1}))

Setting a count to zero does not remove an element from a counter. Use del to remove it entirely:

In [78]:
c["sausage"] = 0   # counter entry with a zero count
del c["sausage"]   # counter entry with a zero count
# remember this, for iteration it will be required

As a dict subclass, Counter Inherited the capability to remember insertion order. Math operations on Counter objects also preserve order. Results are ordered according to when an element is first encountered in the left operand and then by the order encountered in the right operand.

In [79]:
c = Counter(["eggs", "ham"])
c["eggs"] += 1
print(c) # it remembers insertion order, not modification order

Counter({'eggs': 2, 'ham': 1})

**elements()** <br>
>Return an iterator over elements repeating each as many times as its count. Elements are returned in the order first encountered. **If an element’s count is less than one, elements() will ignore it.**

In [80]:
c = Counter("gallahad")
c["e"] = -3
c["f"] = 0
list(c.elements()), sorted(c.elements())

(['g', 'a', 'a', 'a', 'l', 'l', 'h', 'd'],
 ['a', 'a', 'a', 'd', 'g', 'h', 'l', 'l'])

**most_common([n])** <br>
>Return a list of the n most common elements and their counts from the most common to the least. If n is omitted or None, most_common() returns all elements in the counter. **Elements with equal counts are ordered in the order first encountered:**

In [81]:
# n most common elements
n = 3
Counter('abracadabra').most_common(n)

[('a', 5), ('b', 2), ('r', 2)]

In [82]:
# n least common elements
c = Counter('abracadabra')
print("reverse", c.most_common()[:-n-1:-1])
# here, since we are reversing the order, we get 
# Elements with equal counts are ordered in the order LAST encountered

reverse [('d', 1), ('c', 1), ('r', 2)]

In [83]:
# so to avoid that, we can do
print(c.most_common()[-n:])
print("in order", sorted(c.most_common()[-n:], key=lambda x: x[1]))
# since it maintains relative order of equal elements, we can sort on the
# no of times it is repeated

[('r', 2), ('c', 1), ('d', 1)]
in order [('c', 1), ('d', 1), ('r', 2)]

In [84]:
from operator import itemgetter
sorted(c.most_common()[-n:], key=itemgetter(1))

[('c', 1), ('d', 1), ('r', 2)]

**subtract([iterable-or-mapping])** <br>
>Elements are subtracted from an iterable or from another mapping (or counter). Like dict.update() but subtracts counts instead of replacing them. Both inputs and outputs may be zero or negative.

In [85]:
c = Counter(a=4, b=2, c=0, d=-2)
d = Counter(a=1, b=2, c=3, d=4)
c.subtract(d)
c

Counter({'a': 3, 'b': 0, 'c': -3, 'd': -6})

In [86]:
# total()
# c.total() # new in version 3.10

fromkeys(iterable)
This class method is **NOT implemented** for Counter objects.

**update([iterable-or-mapping])** <br>
>Elements are counted from an iterable or added-in from another mapping (or counter). Like dict.update() but adds counts instead of replacing them. Also, **the iterable is expected to be a sequence of elements, not a sequence of (key, value) pairs.**<br>
**HAPPENS IN PLACE**

In [87]:
c.update(d)
c

Counter({'a': 4, 'b': 2, 'c': 0, 'd': -2})

In [88]:
c.update("abbaaccddaad") # sequence of elements, not (k,v) pairs
c

Counter({'a': 9, 'b': 4, 'c': 2, 'd': 1})

Counters support rich comparison operators for equality, subset, and superset relationships: ==, !=, <, <=, >, >=. All of those tests treat missing elements as having zero counts so that Counter(a=1) == Counter(a=1, b=0) returns true.

Changed in version 3.10: **In equality tests, missing elements are treated as having zero counts. Formerly, Counter(a=3) and Counter(a=3, b=0) were considered distinct.**

c.total()                       # total of all counts <br>
c.clear()                       # reset all counts <br>
list(c)                         # list unique elements <br>
set(c)                          # convert to a set <br>
dict(c)                         # convert to a regular dictionary <br>
c.items()                       # convert to a list of (elem, cnt) pairs <br>
Counter(dict(list_of_pairs))    # convert from a list of (elem, cnt) pairs <br>
c.most_common()[:-n-1:-1]       # n least common elements <br>
sorted(c.most_common()[-n:], key=itemgetter(1)) # n least common eles in order of their first occurance <br>
+c                              # remove zero and negative counts <br>
-c # interchanges negative and positive and removes -ve and 0 values

In [89]:
c = Counter(a=2, b= -4, c=0)
+c, -c

(Counter({'a': 2}), Counter({'b': 4}))

unary plus, unary minus, and in-place multiset operations are also available.

The multiset methods are designed only for use cases with positive values. The inputs may be negative or zero, but only outputs with positive values are created. There are no type restrictions, but the value type needs to support addition, subtraction, and comparison.

# deque

https://docs.python.org/3/library/collections.html#collections.defaultdict.default_factory

**deque([iterable[, maxlen]])** <br>
If maxlen is not specified or is None, deques may grow to an arbitrary length. Otherwise, the deque is bounded to the specified maximum length. Once a bounded length deque is full, when new items are added, a corresponding number of items are discarded from the opposite end.

In [90]:
from collections import deque

In [91]:
d = deque(["a", "b", "c", "d", "a", "c"], maxlen=10)

In [92]:
d.append("f")
d

deque(['a', 'b', 'c', 'd', 'a', 'c', 'f'])

In [93]:
d.appendleft("g")
d

deque(['g', 'a', 'b', 'c', 'd', 'a', 'c', 'f'])

In [94]:
e = d.copy() # shallow copy

In [95]:
d.count("a")

2

In [96]:
d.extend(["a", "b", "c"])
d.extend("abcdefg") # iterable
d

deque(['a', 'b', 'c', 'a', 'b', 'c', 'd', 'e', 'f', 'g'])

In [97]:
d.extendleft("dsfklsd")
d

deque(['d', 's', 'l', 'k', 'f', 's', 'd', 'a', 'b', 'c'])

In [98]:
d.index("a") # index(x[, start[, stop]])

7

insert(i, x)
Insert x into the deque at position i.

**If the insertion would cause a bounded deque to grow beyond maxlen, an IndexError is raised.**

In [99]:
# d.insert(5, "i") # cannot insert if maxlen is already reached
d

deque(['d', 's', 'l', 'k', 'f', 's', 'd', 'a', 'b', 'c'])

In [100]:
d.pop()

'c'

In [101]:
d.popleft()

'd'

In [102]:
d

deque(['s', 'l', 'k', 'f', 's', 'd', 'a', 'b'])

In [103]:
d.remove("a") 
# Remove the first occurrence of value. If not found, raises a ValueError.

In [104]:
# reverse
d.reverse()
d

deque(['b', 'd', 's', 'f', 'k', 'l', 's'])

**rotate(n=1)** <br>
**Rotate the deque n steps to the right. If n is negative, rotate to the left.**

When the deque is not empty, rotating one step to the right is equivalent to d.appendleft(d.pop()), and rotating one step to the left is equivalent to d.append(d.popleft()).

In [105]:
d.rotate(1)
d

deque(['s', 'b', 'd', 's', 'f', 'k', 'l'])

In [106]:
d.rotate(-2)
d

deque(['d', 's', 'f', 'k', 'l', 's', 'b'])

In [107]:
d.maxlen # read-only

10

In [108]:
def tail(filename, n=10):
    'Return the last n lines of a file'
    with open(filename) as f:
        return deque(f, n)

In [109]:
# same logic for sum of moving window
def moving_average(iterable, n=3):
    # moving_average([40, 30, 50, 46, 39, 44]) --> 40.0 42.0 45.0 43.0
    # http://en.wikipedia.org/wiki/Moving_average
    it = iter(iterable)
    d = deque(itertools.islice(it, n-1))
    d.appendleft(0)
    s = sum(d)
    for elem in it:
        s += elem - d.popleft()
        d.append(elem)
        yield s / n

In [110]:
def delete_nth(d, n):
    d.rotate(-n)
    d.popleft()
    d.rotate(n)

To implement deque slicing, use a similar approach applying rotate() to bring a target element to the left side of the deque. Remove old entries with popleft(), add new entries with extend(), and then reverse the rotation. With minor variations on that approach, it is easy to implement Forth style stack manipulations such as dup, drop, swap, over, pick, rot, and roll.

# defaultdict

https://docs.python.org/3/library/collections.html#collections.defaultdict.default_factory

In [111]:
from collections import defaultdict

**defaultdict(default_factory=None, /[, ...])**

If the default_factory attribute is None, this raises a KeyError exception with the key as argument.

If default_factory is not None, **it is called without arguments to provide a default value for the given key, this value is inserted in the dictionary for the key, and returned.**

In [112]:
s = [('yellow', 1), ('blue', 2), ('yellow', 3), ('blue', 4), ('red', 1)]
d = defaultdict(list)
for k, v in s:
    d[k].append(v)
sorted(d.items())

[('blue', [2, 4]), ('red', [1]), ('yellow', [1, 3])]

In [113]:
d["green"], d # the element is inserted if it is not present

([],
 defaultdict(list,
             {'yellow': [1, 3], 'blue': [2, 4], 'red': [1], 'green': []}))

In [114]:
s = 'mississippi'
d = defaultdict(int) # for 0
for k in s:
    d[k] += 1
sorted(d.items())

[('i', 4), ('m', 1), ('p', 2), ('s', 4)]

**The function int() which always returns zero is just a special case of constant functions. A faster and more flexible way to create constant functions is to use a lambda function which can supply any constant value (not just zero):**

In [115]:
def constant_factory(value):
    return lambda: value

In [116]:
d = defaultdict(constant_factory('<missing>'))
d.update(name='John', action='ran')
print(f'{d["name"]} {d["action"]} to {d["object"]}')

John ran to <missing>

In [117]:
# using set as default_factory
s = [('red', 1), ('blue', 2), ('red', 3), ('blue', 4), 
     ('red', 1), ('blue', 4)]
d = defaultdict(set)
for k, v in s:
    d[k].add(v)
sorted(d.items())

[('blue', {2, 4}), ('red', {1, 3})]

# namedtuple

https://docs.python.org/3/library/collections.html#namedtuple-factory-function-for-tuples-with-named-fields

**namedtuple(typename, field_names, *, rename=False, defaults=None, module=None)** <br>

The field_names are a sequence of strings such as ['x', 'y']. Alternatively, field_names can be a single string with each fieldname separated by whitespace and/or commas, for example 'x y' or 'x, y'.

If rename is true, invalid fieldnames are automatically replaced with positional names. For example, ['abc', 'def', 'ghi', 'abc'] is converted to ['abc', '_1', 'ghi', '_3'], eliminating the keyword def and the duplicate fieldname abc.

defaults can be None or an iterable of default values. Since fields with a default value must come after any fields without a default, the defaults are applied to the rightmost parameters. For example, if the fieldnames are ['x', 'y', 'z'] and the defaults are (1, 2), then x will be a required argument, y will default to 1, and z will default to 2.

If module is defined, the __module__ attribute of the named tuple is set to that value.

In [118]:
from collections import namedtuple

In [119]:
Point = namedtuple('Point', ['x', 'y'])
p = Point(11, y=22)     # instantiate with positional or keyword arguments
p[0] + p[1]             # indexable like the plain tuple (11, 22)

33

In [120]:
x, y = p                # unpack like a regular tuple
x, y

(11, 22)

In [121]:
print(p.x + p.y)               # fields also accessible by name
p                       # readable __repr__ with a name=value style

33

Point(x=11, y=22)

**classmethod somenamedtuple._make(iterable)**
Class method that makes a new instance from an existing sequence or iterable.

In [122]:
t = [11, 12]
Point._make(t)

Point(x=11, y=12)

In [123]:
p._asdict()

{'x': 11, 'y': 22}

**somenamedtuple._replace( **kwargs)** <br>
Return a new instance of the named tuple replacing specified fields with new values:

In [124]:
p = Point(x=11, y=22)
p._replace(x=33)

Point(x=33, y=22)

**somenamedtuple._fields** <br>
Tuple of strings listing the field names. Useful for introspection and for creating new named tuple types from existing named tuples.

In [125]:
Color = namedtuple('Color', 'red green blue')
Pixel = namedtuple('Pixel', Point._fields + Color._fields)
Pixel(11, 22, 128, 255, 0)

Pixel(x=11, y=22, red=128, green=255, blue=0)

**somenamedtuple._field_defaults** <br>
Dictionary mapping field names to default values.

In [126]:
Account = namedtuple('Account', ['type', 'balance'], defaults=[0])
Account._field_defaults

{'balance': 0}

In [127]:
Account('premium')

Account(type='premium', balance=0)

In [128]:
getattr(p, 'x')

11

In [129]:
d = {'x': 11, 'y': 22}
Point(**d)

Point(x=11, y=22)

# OrderedDict

https://docs.python.org/3/library/collections.html#collections.OrderedDict

**popitem(last=True)**
>The popitem() method for ordered dictionaries returns and removes a (key, value) pair. The pairs are returned in **LIFO order if last is true** or **FIFO order if false.**

**move_to_end(key, last=True)**
>Move an existing key to either end of an ordered dictionary. The item is moved to the right end if last is true (the default) or to the beginning if last is false. Raises KeyError if the key does not exist:

In [130]:
from collections import OrderedDict

In [131]:
d = OrderedDict.fromkeys("abcde")
d.move_to_end('b')
d

OrderedDict([('a', None), ('c', None), ('d', None), ('e', None), ('b', None)])

In [132]:
''.join(d)

'acdeb'

In [133]:
d.move_to_end('b', last=False)
''.join(d)

'bacde'

In [134]:
class LastUpdatedOrderedDict(OrderedDict):
    'Store items in the order the keys were last added'

    def __setitem__(self, key, value):
        super().__setitem__(key, value)
        self.move_to_end(key)

**UserDict objects**<br>
UserDict([initialdata])

**UserList objects**<br>
UserList([list])

**UserString objects**<br>
UserString(seq)

dict, list, str inside these classes can be accessed using **self.data** or **object.data**

In [135]:
from collections import UserDict

In [136]:
class MyDict(UserDict):
     
    # Function to stop deletion
    # from dictionary
    def __del__(self):
        raise RuntimeError("Deletion not allowed")
         
    # Function to stop pop from
    # dictionary
    def pop(self, s = None):
        raise RuntimeError("Deletion not allowed")
         
    # Function to stop popitem
    # from Dictionary
    def popitem(self, s = None):
        raise RuntimeError("Deletion not allowed")

In [137]:
d = MyDict({'a':1,
    'b': 2,
    'c': 3})
 
print("Original Dictionary")
print(d)
 
# d.pop(1)

Original Dictionary
{'a': 1, 'b': 2, 'c': 3}

# Itertools

## infinite itertors

**count ( [ start=0 [, step=1 ] ] )**

count()

start, [step]

start, start+step, start+2*step, …

count(10) --> 10 11 12 13 14 ...

In [138]:
from itertools import count

In [139]:
for i in count():
    print(i, end=", ")
    if i == 12:
        break

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12,

In [140]:
for i in count(15):
    print(i, end=", ")
    if i == 32:
        break

15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32,

In [141]:
for i in count(15, 3):
    print(i, end=", ")
    if i >= 32:
        break

15, 18, 21, 24, 27, 30, 33,

In [142]:
for i in count(15.2, 0.8):
    print(i, end=", ")
    if i >= 32:
        break

15.2, 16.0, 16.8, 17.6, 18.400000000000002, 19.200000000000003, 20.000000000000004, 20.800000000000004, 21.600000000000005, 22.400000000000006, 23.200000000000006, 24.000000000000007, 24.800000000000008, 25.60000000000001, 26.40000000000001, 27.20000000000001, 28.00000000000001, 28.80000000000001, 29.600000000000012, 30.400000000000013, 31.200000000000014, 32.000000000000014,

**cycle ( iterable )**

cycle()

p

p0, p1, … plast, p0, p1, …

cycle('ABCD') --> A B C D A B C D ...

In [143]:
from itertools import cycle

In [144]:
i = 0
for char in cycle("abcde"):
    print(char, end=", ")
    if i == 15:
        break
    i += 1

a, b, c, d, e, a, b, c, d, e, a, b, c, d, e, a,

**repeat( elem [, n] )**

repeat()

elem [,n]

elem, elem, elem, … endlessly or up to n times

repeat(10, 3) --> 10 10 10

In [145]:
from itertools import repeat

In [146]:
for i in repeat(23.2, 7):
    print(i, end=", ")

23.2, 23.2, 23.2, 23.2, 23.2, 23.2, 23.2,

In [147]:
for i in repeat("abc", 7):
    print(i, end=", ")

abc, abc, abc, abc, abc, abc, abc,

In [148]:
for i in repeat([1, 2, 3], 7):
    print(i, end=", ")

[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3],

A common use for repeat is to supply a stream of constant values to map or zip:

In [149]:
list(map(pow, range(10), repeat(2)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## Iterators terminating on the shortest input sequence:

**accumulate( iterable [, func=operator.add, *, initial=None ] )**

accumulate()

p [,func=operator.add, *, initial=None]

p0, p0+p1, p0+p1+p2, …

accumulate([1,2,3,4,5]) --> 1 3 6 10 15

In [150]:
from itertools import accumulate

In [151]:
for i in accumulate([6, 7, 2, 6, 4, 2, 1, 0]):
    print(i, end=", ")

6, 13, 15, 21, 25, 27, 28, 28,

In [152]:
for i in accumulate([6, 7, 2, 6, 4, 2, 1, 0], initial=999):
    print(i, end=", ")

999, 1005, 1012, 1014, 1020, 1024, 1026, 1027, 1027,

In [153]:
from operator import mul

for i in accumulate([6, 7, 2, 6, 4, 2, 1, 0], mul):
    print(i, end=", ")

6, 42, 84, 504, 2016, 4032, 4032, 0,

In [154]:
plus2 = lambda x, y: x + y + 2

for i in accumulate([6, 7, 2, 6, 4, 2, 1, 0], plus2, initial=999):
    print(i, end=", ")

999, 1007, 1016, 1020, 1028, 1034, 1038, 1041, 1043,

In [155]:
# with strings
for i in accumulate("abcdef"):
    print(i, end=", ")

a, ab, abc, abcd, abcde, abcdef,

In [156]:
data = [3, 4, 6, 2, 1, 9, 0, 7, 5, 8]

In [157]:
# running product
list(accumulate(data, mul))

[3, 12, 72, 144, 144, 1296, 0, 0, 0, 0]

In [158]:
# RUNNING MAXIMUM
list(accumulate(data, max))              # running maximum

[3, 4, 6, 6, 6, 9, 9, 9, 9, 9]

In [159]:
# Amortize a 5% loan of 1000 with 4 annual payments of 90
cashflows = [1000, -90, -90, -90, -90]
list(accumulate(cashflows, lambda bal, pmt: bal*1.05 + pmt))

[1000, 960.0, 918.0, 873.9000000000001, 827.5950000000001]

In [160]:
logistic_map = lambda x, _:  r * x * (1 - x)
r = 3.8
x0 = 0.4
inputs = repeat(x0, 36)     # only the initial value is used
print([format(x, '.2f') for x in accumulate(inputs, logistic_map)])

['0.40', '0.91', '0.30', '0.81', '0.60', '0.92', '0.29', '0.79', '0.63', '0.88', '0.39', '0.90', '0.33', '0.84', '0.52', '0.95', '0.18', '0.57', '0.93', '0.25', '0.71', '0.79', '0.63', '0.88', '0.39', '0.91', '0.32', '0.83', '0.54', '0.95', '0.20', '0.60', '0.91', '0.30', '0.80', '0.60']

In [161]:
# functools.reduce - returns only the final accumulated value

**chain( *iterables )**

chain()

p, q, …

p0, p1, … plast, q0, q1, …

chain('ABC', 'DEF') --> A B C D E F

In [162]:
from itertools import chain

In [163]:
a = chain("ABC", "DEF") # all these functions return a iterator
b = list(a)
a, b, ''.join(b)

(<itertools.chain at 0x22b56d8f3d0>, ['A', 'B', 'C', 'D', 'E', 'F'], 'ABCDEF')

In [164]:
list(chain([1, 2, 3], [4, 5, 6]))

[1, 2, 3, 4, 5, 6]

**chain.from_iterable(iterable)**
Alternate constructor for chain(). Gets chained inputs from a single iterable argument that is evaluated lazily.

chain.from_iterable()

iterable

p0, p1, … plast, q0, q1, …

chain.from_iterable(['ABC', 'DEF']) --> A B C D E F

In [165]:
list(chain.from_iterable(["ABC", "DEF"]))

['A', 'B', 'C', 'D', 'E', 'F']

In [166]:
list(chain.from_iterable([[1, 2, 3], [4, 5, 6]]))

[1, 2, 3, 4, 5, 6]

**compress( iterable, selectors )**

compress()

data, selectors

( d[0] if s[0] ), ( d[1] if s[1] ), …

compress('ABCDEF', [1,0,1,0,1,1]) --> A C E F

In [167]:
from itertools import compress

In [168]:
list(compress("ABCDEF", [1, 0, 1, 0, 1, 1]))

['A', 'C', 'E', 'F']

In [169]:
list(compress("ABCDEF", [True, False, True, False, True, True]))

['A', 'C', 'E', 'F']

**dropwhile( func, iterable )**

dropwhile()

pred, seq

seq[n], seq[n+1], starting when pred fails

dropwhile(lambda x: x<5, [1,4,6,4,1]) --> 6 4 1

In [170]:
from itertools import dropwhile

In [171]:
list(dropwhile(lambda x: x < 5, [1, 4, 6, 4, 1]))

[6, 4, 1]

**takewhile( func, iterable )**

takewhile()

pred, seq

seq[0], seq[1], until pred fails

takewhile(lambda x: x<5, [1,4,6,4,1]) --> 1 4

In [172]:
from itertools import takewhile

In [173]:
list(takewhile(lambda x: x < 5, [1, 4, 6, 4, 1]))

[1, 4]

**filterfalse( func, iterable )**

filterfalse()

pred, seq

elements of seq where pred(elem) is false

filterfalse(lambda x: x%2, range(10)) --> 0 2 4 6 8

if func(item) if False, eg: 0, or len=0 then it's val is returned

In [174]:
from itertools import filterfalse

In [175]:
list(filterfalse(lambda x: x % 2, range(10)))

[0, 2, 4, 6, 8]

**If predicate is None, return the items that are false. i.e., items whose bool value is False**

In [176]:
list(filterfalse(None, range(10)))

[0]

**with built in function filter**

In [177]:
list(filter(lambda x: x % 2, range(10)))

[1, 3, 5, 7, 9]

In [178]:
list(filter(None, range(10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

**groupby( iterable [, key = None ] )**

groupby()

iterable[, key]

sub-iterators grouped by value of key(v)

key argument here is like sort() function key, just to manipulate the value before comparing

**The operation of groupby() is similar to the uniq filter in Unix. It generates a break or new group every time the value of the key function changes (which is why it is usually necessary to have sorted the data using the same key function). That behavior differs from SQL’s GROUP BY which aggregates common elements regardless of their input order.**

In [179]:
from itertools import groupby

In [180]:
data = "AaababafabaBAABABA"
keyfunc = str.lower

groups = []
uniquekeys = []
data = sorted(data, key=keyfunc)
for k, g in groupby(data, keyfunc):
    groups.append(list(g))      # Store group iterator as a list
    uniquekeys.append(k)

uniquekeys, groups

(['a', 'b', 'f'],
 [['A', 'a', 'a', 'a', 'a', 'a', 'a', 'A', 'A', 'A', 'A'],
  ['b', 'b', 'b', 'B', 'B', 'B'],
  ['f']])

In [181]:
data = "AaababafabaBAABABA"
keyfunc = str.lower

groups = []
uniquekeys = []
# with sorting
for k, g in groupby(data, keyfunc):
    groups.append(list(g))      # Store group iterator as a list
    uniquekeys.append(k)

print(uniquekeys, groups, sep="\n\n")

['a', 'b', 'a', 'b', 'a', 'f', 'a', 'b', 'a', 'b', 'a', 'b', 'a', 'b', 'a']

[['A', 'a', 'a'], ['b'], ['a'], ['b'], ['a'], ['f'], ['a'], ['b'], ['a'], ['B'], ['A', 'A'], ['B'], ['A'], ['B'], ['A']]

In [182]:
data = "AaababafabaBAABABA"
keyfunc = None # without keyfunc i.e keyfunc = None

groups = []
uniquekeys = []
# with sorting
for k, g in groupby(data, keyfunc):
    groups.append(list(g))      # Store group iterator as a list
    uniquekeys.append(k)

print(uniquekeys, groups, sep="\n\n")

['A', 'a', 'b', 'a', 'b', 'a', 'f', 'a', 'b', 'a', 'B', 'A', 'B', 'A', 'B', 'A']

[['A'], ['a', 'a'], ['b'], ['a'], ['b'], ['a'], ['f'], ['a'], ['b'], ['a'], ['B'], ['A', 'A'], ['B'], ['A'], ['B'], ['A']]

**EXAMPLES**

In [183]:
[k for k, g in groupby('AAAABBBCCDAABBB')]

['A', 'B', 'C', 'D', 'A', 'B']

In [184]:
[list(g) for k, g in groupby('AAAABBBCCD')]

[['A', 'A', 'A', 'A'], ['B', 'B', 'B'], ['C', 'C'], ['D']]

**islice( iterable, [ start, ] stop [, step=1 ] )**

islice()

seq, [start,] stop [, step]

elements from seq[start:stop:step]

islice('ABCDEFG', 2, None) --> C D E F G

variations

islice( iterable, stop )

islice( iterable, start, None ) # None for going till the end

islice( iterable, start, stop )

islice( iterable, start, stop, step )

**Unlike regular slicing, islice() does not support negative values for start, stop, or step.**

In [185]:
from itertools import islice

In [186]:
list(islice('ABCDEFG', 2))

['A', 'B']

In [187]:
list(islice('ABCDEFG', 2, 4))

['C', 'D']

In [188]:
list(islice('ABCDEFG', 2, None))

['C', 'D', 'E', 'F', 'G']

In [189]:
list(islice('ABCDEFG', 0, None, 2))

['A', 'C', 'E', 'G']

**pairwise( iterable )**

pairwise()

iterable

(p[0], p[1]), (p[1], p[2])

pairwise('ABCDEFG') --> AB BC CD DE EF FG

In [190]:
# new in 3.10

In [191]:
# list(pairwise("ABCDEFGH"))

**starmap( func, iterable )**

starmap()

func, seq

func(*seq[0]), func(*seq[1]), …

starmap(pow, [(2,5), (3,2), (10,3)]) --> 32 9 1000

In [192]:
from itertools import starmap

In [193]:
list(starmap(pow, [(2,5), (3,2), (10,3)]))

[32, 9, 1000]

In [194]:
# for map built in

In [195]:
n = [2, 3, 10]
powers = [5, 2, 3]
list(map(pow, n, powers))

[32, 9, 1000]

**tee( iterable, n = 2 )**

tee()

it, n

it1, it2, … itn splits one iterator into n

**gives n independent iterators which all start from the begining**

In [196]:
from itertools import tee

In [199]:
a, b, c = tee([1, 2, 3, 4, 5, 6, 7], 3)
next(b)
next(c)
next(c)

a_val, b_val, c_val = next(a), next(b), next(c)

while c_val:
    print(a_val, b_val, c_val)
    a_val, b_val, c_val = next(a), next(b), next(c, None)
     # some mistake here

1 2 3
2 3 4
3 4 5
4 5 6
5 6 7

In [200]:
a, b, c = tee([1, 2, 3, 4, 5, 6, 7], 3)
next(b)
next(c)
next(c)
list(zip(a, b, c))

[(1, 2, 3), (2, 3, 4), (3, 4, 5), (4, 5, 6), (5, 6, 7)]

**zip_longes( *iterables, fillvalue=None )**

zip_longest()

p, q, …

(p[0], q[0]), (p[1], q[1]), …

zip_longest('ABCD', 'xy', fillvalue='-') --> Ax By C- D-

In [201]:
from itertools import zip_longest

In [203]:
list(zip_longest("ABCDEF", "XYZ", fillvalue="-"))

[('A', 'X'), ('B', 'Y'), ('C', 'Z'), ('D', '-'), ('E', '-'), ('F', '-')]

## Combinatoric iterators

Examples

Results

product('ABCD', repeat=2)

AA AB AC AD BA BB BC BD CA CB CC CD DA DB DC DD

permutations('ABCD', 2)

AB AC AD BA BC BD CA CB CD DA DB DC

combinations('ABCD', 2)

AB AC AD BC BD CD

combinations_with_replacement('ABCD', 2)

AA AB AC AD BB BC BD CC CD DD

**product( *iterables [, repeat = 1 ] )**

product()

p, q, … [repeat=1]

cartesian product, equivalent to a nested for-loop

product('ABCD', repeat=2)

AA AB AC AD BA BB BC BD CA CB CC CD DA DB DC DD

product(A, B) returns the same as ((x,y) for x in A for y in B).

product(A, repeat=4) means the same as product(A, A, A, A).

product(A, B, repeat=2) means the same as product(A, B, A, B)

In [213]:
from itertools import product

In [214]:
list(product("ABCD", "xy"))

[('A', 'x'),
 ('A', 'y'),
 ('B', 'x'),
 ('B', 'y'),
 ('C', 'x'),
 ('C', 'y'),
 ('D', 'x'),
 ('D', 'y')]

In [215]:
# FOR BINARY FORM OF NUMBERS
list(product(range(2), repeat=3))

[(0, 0, 0),
 (0, 0, 1),
 (0, 1, 0),
 (0, 1, 1),
 (1, 0, 0),
 (1, 0, 1),
 (1, 1, 0),
 (1, 1, 1)]

In [216]:
# can also be
list(product([0, 1], repeat=3))

[(0, 0, 0),
 (0, 0, 1),
 (0, 1, 0),
 (0, 1, 1),
 (1, 0, 0),
 (1, 0, 1),
 (1, 1, 0),
 (1, 1, 1)]

In [217]:
print(list(product("AB", "xy", repeat=2)))

[('A', 'x', 'A', 'x'), ('A', 'x', 'A', 'y'), ('A', 'x', 'B', 'x'), ('A', 'x', 'B', 'y'), ('A', 'y', 'A', 'x'), ('A', 'y', 'A', 'y'), ('A', 'y', 'B', 'x'), ('A', 'y', 'B', 'y'), ('B', 'x', 'A', 'x'), ('B', 'x', 'A', 'y'), ('B', 'x', 'B', 'x'), ('B', 'x', 'B', 'y'), ('B', 'y', 'A', 'x'), ('B', 'y', 'A', 'y'), ('B', 'y', 'B', 'x'), ('B', 'y', 'B', 'y')]

**permutations( p [, r] )**

permutations()

p[, r]

r-length tuples, all possible orderings, no repeated elements

permutations('ABCD', 2)

AB AC AD BA BC BD CA CB CD DA DB DC

In [220]:
from itertools import permutations # S

In [222]:
list(permutations("ABC", 2))

[('A', 'B'), ('A', 'C'), ('B', 'A'), ('B', 'C'), ('C', 'A'), ('C', 'B')]

In [226]:
list(permutations("ABC"))

[('A', 'B', 'C'),
 ('A', 'C', 'B'),
 ('B', 'A', 'C'),
 ('B', 'C', 'A'),
 ('C', 'A', 'B'),
 ('C', 'B', 'A')]

In [230]:
list(permutations(range(3), 2))

[(0, 1), (0, 2), (1, 0), (1, 2), (2, 0), (2, 1)]

**combinations( p, r )**

combinations()

p, r

r-length tuples, in sorted order, no repeated elements

combinations('ABCD', 2)

AB AC AD BC BD CD

**r doesn't have a default value**

In [225]:
from itertools import combinations

In [232]:
list(combinations('ABCD', 2))

[('A', 'B'), ('A', 'C'), ('A', 'D'), ('B', 'C'), ('B', 'D'), ('C', 'D')]

In [233]:
list(combinations(range(4), 3))

[(0, 1, 2), (0, 1, 3), (0, 2, 3), (1, 2, 3)]

**combinations_with_replacement( iterable, r )**

combinations_with_replacement()

p, r

r-length tuples, in sorted order, with repeated elements

combinations_with_replacement('ABCD', 2)

AA AB AC AD BB BC BD CC CD DD

In [235]:
from itertools import combinations_with_replacement

In [236]:
list(combinations_with_replacement('ABC', 2))

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'B'), ('B', 'C'), ('C', 'C')]

In [237]:
list(combinations_with_replacement(range(3), 2))

[(0, 0), (0, 1), (0, 2), (1, 1), (1, 2), (2, 2)]